.popup {
    background-color: #f0f0f5;
    width: 130px;
    font-family:$Roboto;
}

.selector {
  margin: 3px 0; /* add top and bottom margin */
  padding: 3px;
  border-radius:10px;
  box-shadow:0 0 4px 3px rgba(0,0,0,0.06);
  border:0; 
  width: 80%;
  font-family:inherit;
  font-size: inherit;
  text-align: center;
}

#falcon {
    display: block;
    margin: auto;
}

#falcon:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#dialog-box {
    text-align: center;
    font-size: medium;
    font-family: $Roboto;
    color: #1a1d40;
    width: 98%;
    overflow: hidden; /* "overflow" value must be different from "visible" */ 
    text-overflow: ellipsis;
}

.center {
    text-align: center;
}

#reload {
  margin: 5px;
  cursor: pointer;
  font-size: 13px;
  padding: 8px 8px;
  border-radius: 25px;
  transition-duration: 0.4s;
  background-image: linear-gradient(to right, #00bfff, #531aff, #720dff);
  opacity: 0.6;
  transition:  0.3s;
  color: white;
  font-family: $Roboto;
}

#reload:hover {
  color: white;
  opacity: 1;
}

/*#reload:focus {
   box-shadow: 0 0 5px #720dff;
}*/

#timer:focus{
   box-shadow: 0 0 8px #720dff;
}

.exodus {
  margin: auto;
  font-size: 11px;
  padding: 5px 10px;
  border-radius: 25px;
  transition-duration: 0.4s;
  background-image: linear-gradient(to right, #00bfff, #531aff, #720dff);
  opacity: 0.6;
  transition:  0.3s;
  color: white;
  font-family: $Roboto;
}

.exodus:hover {
  color: white;
  opacity: 1;
}


/* ----This is not yet implmented ---- */

#disable {
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

#disable:hover {
  background-color: #b10000; /* Red */
  color: white;
}

/* ----------------------------------- */

.animated {  
            -webkit-animation-duration: 1s;
            animation-duration: 1s; 
            -webkit-animation-fill-mode: both; 
            animation-fill-mode: both; 
         }
         
         @-webkit-keyframes bounce { 
            0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
            40% {-webkit-transform: translateY(-30px);} 
            60% {-webkit-transform: translateY(-15px);} 
         } 
         
         @keyframes bounce { 
            0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
            40% {transform: translateY(-30px);} 
            60% {transform: translateY(-15px);} 
         }
         
         .bounce { 
            -webkit-animation-name: bounce; 
            animation-name: bounce; 
         }


@font-face {

 font-family: ‘Roboto’;
 font-style: normal;
 font-weight: 700;
 src: url(‘chrome-extension://__MSG_@@extension_id__/Roboto-Regular.ttf’); 

}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  margin: auto;
  background-color: #1a1d40; /* Paua background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 15px; /* Rounded borders */
  padding: 5px 10px;
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 20%; /* Center the snackbar */
  right: 20%;
  top: 15px; /* 15px from the top */
  font-family: $Roboto;
}

#snackbar:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #1a1d40;
    border-bottom: 0;
    border-right: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 15px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 15px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 15px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 15px; opacity: 1;}
  to {top: 0; opacity: 0;}
}


